/* CSS Document */
@import url('reset.css');
body, li, ul, h3, h4, h1, h2, dl , dd, dt{ margin:0; padding:0; }
body{ font-size:12px; font-family:微软雅黑; background:#e2e2e2;}
li{ list-style:none;}
a{ text-decoration:none; outline:none; color:#3e6a82}
a:hover{ color:#3fb4e4;}
img{ border:none;}

#nav , #nav .nav_con li.home a, #header .sea_icon, #header .shareTosina{ background:url(../images/icon.png); 
}
.slidesjs-container{ z-index:0;}
#content:after{content:"."; height:0;visibility:hidden;display:block;clear:both;}
#header{ height:60px; background:#f7f7f7; }
#header .header_con{ width:1005px; margin:0 auto;}
#header .hd_conr{ float:right; width:394px; height:32px; margin-top:11px;}
#header .header_con img{ vertical-align: middle;  margin-top:10px; float: left;}
#header .hd_conr span{  color:#7f7f7f; font-size:11px;}
#header .hd_conr a{ color:#7f7f7f; padding:0 5px;}
#header .shareTosina{ background-position:left top; display:inline-block; width:20px; height:20px; vertical-align: middle;}
#header .seabox{ height:32px; background:#fff; border:1px solid #e5e5e5;  border-radius:5px; display:inline-block; width:220px; vertical-align:middle; padding:0 5px; float:right;}
#header .seabox input{ background:transparent; border:none; vertical-align:top; height:30px; line-height:30px; width:180px; outline:none;}

#header .hd_conr .left_share{ padding-top:8px;}
#header .sea_icon{ background-position: left -22px;  width:26px; height:30px; display:inline-block; float:right; margin-top:2px; _margin-top:5px; cursor:pointer ;}
#nav{ background-repeat:repeat-x; clear:both; background-position: left -130px; height:37px; position:relative; z-index:10;}
#nav .nav_con{ width:1005px; margin:0 auto; }
#nav .nav_con li{ float:left;  position:relative;}
#nav .nav_con li ul{ position:absolute; left:-2px; top:37px; width:100px; z-index: 1005; display:none;}

#nav .nav_con ul ul li{ background:url(../images/btn_ul.png) left -1px no-repeat; }
#nav .nav_con li.nav_show ul{ display:block;}
#nav .nav_con li.nav_show ul ul{ left:99px; top:0px; display:none;}
#nav .nav_con li li{ clear:both; width:100px; background:url(../images/btn.png) left -64px no-repeat; height:25px; text-align:center; color:#fff; line-height:25px; cursor:pointer; position:relative; z-index:1000;}
#nav .nav_con li li a{ position:relative; z-index:1000;}
#nav .nav_con li li a:hover{ background-position:left -88px;  line-height: 25px;width: 99px; margin-top: 0;margin-left: 1px;}
#nav .nav_con li span{ background:url(../images/icon.png) right -51px no-repeat; display: inline-block;padding-right: 18px;}
#nav .nav_con li.home{ background:none; margin-right:10px;}
#nav .nav_con li a:hover{ background-color:#4092b3;}
#nav .nav_con li.current .topnav{ background-color:#3c3c3c;margin-left: -1px;}
#nav .nav_con li.home.current{ background-color:#2fafea;}
#nav .nav_con li.home a{ background-position: center -84px; width:45px; }
#nav .nav_con li.home a:hover{ }
#nav a{ font-size:13px; color:#fff; width:100px; display:inline-block; text-align: center; height:37px; line-height:37px;}
#nav li li a{ height:25px; line-height:25px; background:none;}
#nav a.topnav{  background:transparent url(../images/nav_line.png) no-repeat right top;}
#nav .nav_con li.skip_door{ background:none; float:right; margin-top:5px;}
#nav .nav_con li.skip_door a{ background:url(../images/btn_door.png) no-repeat; width:76px; height:27px; line-height:27px;}

#footer{ height:50px; background:#f2f2f2; border-top:1px solid #ccc; width:1005px; margin:0 auto;}
#footer .copyright{ color:#747474; line-height:50px;padding-left: 30px; float:left;  }
#footer .footnav{ float:right; padding-right:10px;}
#footer .footnav a{ color:#747474; line-height:50px; margin: 0 8px;}

/*分页*/

#pages{ text-align:center;padding: 15px 0;clear: both;}
#pages a { background:url(../images/btn.png) no-repeat -41px -266px; width:35px; height:31px; display:inline-block; line-height:32px; text-align:center; color:#777777; font-weight:bold; font-size:13px; margin:0px 2px;}
#pages a.page_prev,#pages a.page_first,#pages a.page_last,#pages a.page_next { width:73px; background-position:left -304px;}
#pages a.current{ background-position:left -266px; color:#fff;}


/* 分页 */
.pages {
	text-align:center;
	padding-top:10px
}
.pages a, .pages em, .pages a:visited {
	padding:3px 2px;
	margin:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#444;
	text-decoration:none;
}
.pages a.on, .pages a:hover {
	text-decoration: underline;
	color: #0066FF;
}
.pages span {
	padding:3px 2px;
	margin:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #0066FF
}
.pages .pageinput {
	height:16px;
	width:30px;
	text-align:center;
	font:normal 12px/14px Verdana;
}
.pages .pagebg {
	margin-left:5px;
	cursor:pointer;
	padding-left:3px;
	padding-right:2px;
	border:1px solid #bdbcbd;
	background:#FFF url(../images/admin/inputbut_bg.gif) left center repeat-x;
	height:22px;
}
